{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<style>
    .row.flex-grow-1 {
    display: flex;
}

.col-lg-4.col-sm-6.bg-white {
    display: flex;
}

.service.theme-shadow {
    flex-grow: 1;
}

</style>

    <!-- FEATURED LOGOS -->
    <section id="services" class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Lab Test Packages</h1>
                        <div class="line"></div>
                        
                    </div>
                </div>
            </div>
            <div class="row g-3 text-center">
                
                <div class="row flex-grow-1">
                    {% for category in laboratory_categories %}
                    <div class="col-lg-4 col-sm-6 bg-white d-flex">
                        <div class="service theme-shadow p-lg-5 p-4 d-flex flex-column">
                            <h4 class="mt-2 mb-3">{{ category.title }}</h4>
                            <div class="flex-grow-1">
                                {% for test in category.laboratorytest_set.all %}
                                <p>{{ test.title }}</p>
                                {% endfor %}
                            </div>
                            <div class="text-black">
                                <p style="font-size: xx-large;"><b>Tsh. {{ category.cost }}/=</b></p>
                            </div>
                            <div>
                                <a href="{% url 'confirm_order' category_id=category.id %}" class="btn btn-success w-100">Order now</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                


                

                <a href="{% url 'packageAdd' %}"><button class="btn btn-success">Add Package</button></a>
                <a href="{% url 'packageItem' %}"><button class="btn btn-success">Add Lab Item</button></a>
                
                
               
                
            </div>
        </div>
    </section>



    

{% endblock %}
