{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <!-- FEATURED LOGOS -->
    <section id="services" class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Lab Test Packages</h1>
                        <div class="line"></div>
                        
                    </div>
                </div>
            </div>
            <div class="row g-3 text-center">
                
                <div class="col-lg-4 col-sm-6 bg-white">
                    <div class="service theme-shadow p-lg-5 p-4">
                        <h4 class="mt-2 mb-3">Diamond</h4>
                        <div>
                            <p>Complete Blood Count (CBC)</p>
                            <p>Lipid Panel (Cholesterol Levels)</p>
                            <p>Blood Glucose Level</p>
                            <p>Kidney Function Tests (Creatinine, BUN)</p>
                            <p>Urinalysis</p>
                            <p>Chest X-ray</p>
                        </div>
                        <div class="text-black">
                            <p style="font-size: xx-large;"><b>Tsh. 30,000/=</b></p>
                        </div>
                        <div>
                            <button class="btn btn-success w-100">Order now</button>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 bg-white">
                    <div class="service theme-shadow p-lg-5 p-4">
                        <h4 class="mt-2 mb-3">Silver</h4>
                        <div>
                            <p>Complete Blood Count (CBC)</p>
                            <p>Lipid Panel (Cholesterol Levels)</p>
                            <p>Blood Glucose Level</p>
                            <p>Kidney Function Tests (Creatinine, BUN)</p>
                            <p>Urinalysis</p>
                            <p>Chest X-ray</p>
                        </div>
                        <div class="text-black">
                            <p style="font-size: xx-large;"><b>Tsh. 15,000/=</b></p>
                        </div>
                        <div>
                            <button class="btn btn-success w-100">Order now</button>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 bg-white">
                    <div class="service theme-shadow p-lg-5 p-4">
                        <h4 class="mt-2 mb-3">Pratnum</h4>
                        <div>
                            <p>Complete Blood Count (CBC)</p>
                            <p>Lipid Panel (Cholesterol Levels)</p>
                            <p>Blood Glucose Level</p>
                            <p>Kidney Function Tests (Creatinine, BUN)</p>
                            <p>Urinalysis</p>
                            <p>Chest X-ray</p>
                        </div>
                        <div class="text-black">
                            <p style="font-size: xx-large;"><b>Tsh. 7,000/=</b></p>
                        </div>
                        <div>
                            <button class="btn btn-success w-100">Order now</button>
                        </div>
                        
                    </div>
                </div>
                
                
               
                
            </div>
        </div>
    </section>



    

{% endblock %}
