{% extends 'app/base2.html' %}
{%block content%}
<div class="container">
  <h5 class="mb-3">Doctor All Booking</h5>

<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <th>user</th>
      <th>District</th>
      <th>Ward</th>
      <th>Street</th>
      <th>Department</th>
      <th>Allocation</th>
      <th>Status</th>
    </tr>
    
  
{% for i in x %}
<tr class="bg-white">
    <td>{{ i.user.username }}</td>
    <td>{{ i.district }}</td>
    <td> {{ i.ward }}</td>
    <td>{{ i.street }}</td>
    <td>{{ i.department.name }}</td>
    <td>{{ i.period }}</td>
    <td><a href="{% url 'doctorBookingTime' i.id%}">Process</a></td>
  </tr>   
{% endfor %}

</table>
</div>
</div>
{%endblock%}