{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="col-12 mb-5 grid-margin stretch-card" style="padding-top: 50px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Package Item Add Form</h4>
                {% for message in messages %}
                    <div class = "alert alert-primary alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                    {% endfor %}
                
                <form method='POST' class="forms-sample" >
                    {% csrf_token %}

                    <div class="form-group">
                      <label for="gender">title:</label>
                      <input type="text" class="form-control" name="title" value="{{s.title}}" />
                    </div>

                    <div class="form-group">
                        <label for="{{ form.category.id_for_label }}">Category:</label>
                        {{ form.category }}
                      </div>
                    
                  <br>
                  
                  <button type="submit" class="btn btn-success mr-2">Submit</button>
                  
                </form>


                <a href="{% url 'bookLabTest' %}">
                  <button class="btn btn-light">Cancel</button>
              </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}