{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <!-- HERO -->
    {% for frontpage in frontpages %}
    <section id="hero" class="min-vh-100 d-flex align-items-center text-center" style="background: linear-gradient(rgba(144, 238, 144, 0.507), rgba(46, 139, 87, 0.438)), url({{frontpage.image.url}})">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 data-aos="fade-left" class="text-uppercase text-white fw-semibold display-1">{{frontpage.header}}</h1>
                    <h5 class="text-white mt-3 mb-4" data-aos="fade-right">{{frontpage.body}}</h5>
                    {% if user.is_doctor or user.is_laboratorist or user.is_receptionist or user.is_pharmacist %}
                    <a href="{% url 'home' %}" class="btn btn-brand me-2">STAFF PAGE</a><br>
                    {% else%}
                    <div data-aos="fade-up" data-aos-delay="50">
                        {% if user.is_authenticated %}
                        <a href="{% url 'sickinfo' %}" class="btn btn-brand me-2">REPORT A DISEASE</a>
                        {% else %}
                        <a href="{% url 'signin' %}" class="btn btn-brand me-2">SIGN IN TO REPORT A DISEASE</a>
                        {% endif %}
                        <a href="#portfolio1" class="btn btn-light ms-2">Our Portfolio</a>
                    </div>
                    {% endif %}
                    <br>

                    <a href="{% url 'frontPageedit' frontpage.id %}" class="btn btn-brand me-2">EDIT</a>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

    <section id="hero" class="min-vh-100 d-flex align-items-center text-center" style="background: linear-gradient(rgba(144, 238, 144, 0.507), rgba(46, 139, 87, 0.438)), url({{frontpage.image.url}})">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 data-aos="fade-left" class="text-uppercase text-alert fw-semibold mt-5 mb-5">
                        Access to health services in Tanzania is low and inadequate especially
                         in rural areas 
                    </h2>
                    <h4 class="text-white mt-5 mb-5" data-aos="fade-right">
                        The country face high rate of maternal and child mortality, pneumonia and malaria 
                    </h4>
                    <h3 class="text-black mt-3 mb-4" data-aos="fade-right">
                        Tanzania’s health service has been challenged with inadequate fund,
                         shortage of fully trained health staff in the hospitals, poor communication
                          and transport infrastructure. Also, it was recorded that,
                           about 45% of the population were living within 1 km of a health facility,
                            93% within 10 km and 72% within 5km (WHO, 2008).
                    </h3>
                    
                    <br>
                </div>
            </div>
        </div>
    </section>
    


    <section id="second" class="min-vh-100 d-flex align-items-center" style="background-color: darkgreen">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                    <h2 class="text-white text-center" data-aos="fade-right">
                        Nearly half the population remains below the income poverty line of $1.90 per day. 
                        With few resources, deteriorated facilities and a stunning shortage of doctors
                        (just three for every 100,000 people), the government of Tanzania has long
                        faced enormous barriers to ensuring equal access to healthcare for its people.
                    </h2>
                    
                    <br>
                </div>
            </div>
        </div>
    </section>



    <section id="blog" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Problem</h1>
                        <div class="line"></div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    
                    <h2 class="text-black text-center" data-aos="fade-right">
                        Access to health services in Tanzania is low and inadequate
                         especially in rural areas.
                         A  Half of the population remains below the income poverty
                          line of $1.90 per day. With few resources, deteriorated facilities 
                          and a stunning shortage of doctors (just three for every 100,000 people)
                           it was recorded that, about 93% of the population were
                            living within 10 km of a health facility ( WHO, 2021).
                    </h2>
                    
                    <br>
                </div>
            </div>
            
        </div>
    </section>

    <section id="blog" class="section-padding bg-light">
        <div class="container">
            
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Solution</h1>
                        <div class="line"></div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    
                    <h2 class="text-black" data-aos="fade-right">
                        Agki Medical Laboratory decides to ameliorate by providing digital mobile 
                        dispensary services{Mobile clinic} including medication, clinic and lab testing, 
                        using a solar-powered van for patients in rural areas, particularly pregnant 
                        women and children under the age of five. To offer quality services at Agki
                         Centre for all time and to design a platform and APP that operates both 
                         online and offline to connect patients to nearby registered hospitals,
                          Health Centre, Polyclinics, Pharmacies, Medical Lab, Doctors specialists,
                           qualified doctors and nurses from the street for emergency/first aid, 
                            diagnosis, Medications and treatment. This offers a faster, reliable 
                            on-time and consistent rehabilitation hence reducing time and cost to
                             patients and deaths possibly due to late attendance
                    </h2>
                    
                    <br>
                </div>
            </div>
            
        </div>
    </section>




    <section id="blog" class="section-padding bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Purpose & Success Reached</h1>
                        
                        
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-6" data-aos="fade-down" data-aos-delay="150">
                    <div class="team-member image-zoom ">
                        
                        <div class="section-title">
                            <h5 class="text-center">Purpose</h5>
                            <div class="line"></div>
                        </div>
                        <div class="round">
                            <p class="bg-dark p-4 text-white">Easy accesibity of quality health care services in rural areas.</p>
                            <p class="bg-dark p-4 text-white">Reduction of both maternal and under five mortality rate</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" data-aos="fade-down" data-aos-delay="150">
                    <div class="team-member image-zoom">
                        
                        <div class="section-title">
                            <h5 class="text-center">Success</h5>
                            <div class="line"></div>
                        </div>
                        <div class="round">
                            <p class="bg-dark p-4 text-white">Coordination of both different health facilities and qualified health professional with patients.</p>
                            <p class="bg-dark p-4 text-white">Creation of employment to the different healthcare providers</p>
                            <p class="bg-dark p-4 text-white">We helped 40,000 customers includes; pregnant women, under five and patient with permanent disabilities</p>
                            <p class="bg-dark p-4 text-white">We won several awards and grants such as Sankalp Award, UNFPA climate hack lab, Hindsight Venture, Uwezo Tanzania
                                 {Unreached Africa& Follow Her}, Villgro Africa and Agency French Development {AFD}.</p>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>

{% endblock %}
